<div id="top">
  <div class="bottomlink"><i class="fa fa-car design-car"></i><i class="color-me">SMARTDRIVE</i></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a [routerLink] = "['/addvehicle']">Add Vehicles</a></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a href="#">View Vehicles</a></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a [routerLink] ="">Request Vehicles</a></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a [routerLink]="">Add Driving Profile</a></div>
</div>
<div id="border">
  <div id="left10">
    <div class="name">SmartDrive</div>
    <div class="tag"><i>Now drive like your own Vehicle...</i></div>
  </div>
  <div id="car"></div>
  <div id="links-bg">
    <div class="toplinks"><a href = "">View Profile</a></div>
    <div class="toplinks"><a href="">Active Cars</a></div>
    <div class="toplinks"><a [routerLink] = "['/document']">Add Docs</a></div>
    <div class="toplinks"><a [routerLink]= "['/home']">Home</a></div>
  </div>
  <div class="headingbg2"></div>
</div>
<div id="bottom">
  <p class ="adjust-footer">All @ copyrights are reserved by Nights Watch</p>
</div>

