<div id="top-register">
  <div class="bottomlink"><i class="fa fa-car design-car" aria-hidden="true"></i><i class="color-me">SMARTDRIVE</i></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a href="index.html">Home</a></div>
  <div class="sap">|</div>  <div class="sap">|</div>
  <div class="bottomlink"><a href="#">Contact</a></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a href="#">Need an account ?</a></div>
</div><div id="login-box">
  <div class="left">
    <h1 class="set-heading">Add a Document</h1>    <input type="text" name="number_plate" placeholder="Number Plate"/>
    <input type="text" name="document_type" placeholder="Document Type"/>
    <input type="submit" name="add_document_submit" value="ADD DOC"/>
  </div>  <div class="right">
  <span class="loginwith"></span>
  <label>Expiry Date</label>
  <input type="date" name="expiry_date" min="2018-01" placeholder=""/>
  <!--    <label>Upload Image</label>
     <input class ="btn-file" type="file" name="fileToUpload" id="fileToUpload">-->
  <label class="fileContainer">
    upload
    <input type="file" id="document_image"/>
  </label>
</div>
