<div id="top-register">
  <div class="bottomlink"><i class="fa fa-car design-car" aria-hidden="true"></i><i class="color-me">SMARTDRIVE</i></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a href="index.html">Home</a></div>
  <div class="sap">|</div>

  <div class="sap">|</div>
  <div class="bottomlink"><a href="#">Contact</a></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a [routerLink]="['/register']">Need an account ?</a></div>
</div>

<div id="login-box">
  <div class="left">
    <h1 class="set-heading">Sign In</h1>

    <input type="text" name="username" placeholder="username"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="submit" name="signup_submit" value="Login"/>
  </div>

  <div class="right">
    <span class="loginwith">Sign in with<br/>social network</span>

    <button class="social-signin facebook">Log in with facebook</button>
    <button class="social-signin twitter">Log in with Twitter</button>
    <button class="social-signin google">Log in with Google+</button>
  </div>
  <div class="or">OR</div>

</div>

