<h1>Title</h1>
<p>SmartDrive</p>
<h1>Introduction</h1>
<p>SmartDrive is an attempt to ease the management of documentation associated with driving or owning of a vehicle.The
  system also localizes the data for ease of maintenance.</p>
<h1>Problem Statement</h1>
<p>In current scenario, people commuting by personal means such as a car or motorbike often face the issue of carrying
  multiple documents. Such documents are cumbersome to carry as they occupy space either in your wallet or dashboards.
  Moreover the whole phenomenon of keeping track about when to renew each document is another issue.Add to that the task
  of telling your friends about where each document is kept in the car when they intend to borrow it.Too much,isn’t
  it?There needs to be a system that can take care of this task.</p>
<h1>Objective(s)</h1>
<p>To provide one common card,that interlinks every piece of detail associated with the driver and the car they are
  driving.</p>
<p>Notify the user whenever a document is set to expire.</p>
<p>Make lending and borrowing of vehicles easier than it is.</p>
<h1>Technology Stack</h1>
<p>Scala,Java,Lagom,Postgresql DB,Angular 2</p>
<h1>Features</h1>
<p>Maps all driver documents against a single and unique key.</p>
<p>Notifies user of expiration of documents.</p>
<p>If a vehicle or user has a single document as unfit,the users aren’t given the permission to drive the vehicle.</p>
<p>Localization of driving related data which makes borrowing and lending of money easy.</p>
<h1>Future Scope</h1>
<p>The system is able to track current occupant
  Challan issued for the vehicle can be tracked.</p>
<p>Implement current system using cards.</p>

