<div id="top">
  <div class="bottomlink"><i class="fa fa-car design-car" aria-hidden="true"></i><i class="color-me">SMARTDRIVE</i></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a href="index.html">Home</a></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a [routerLink] ="['aboutus']">About Us</a></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a href="">Nights Watch</a></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a [routerLink] ="['homepage']">Services</a></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a [routerLink]="['contact']">Contact</a></div>
</div>
<div id="border">
  <div id="left10">
    <div class="name">SmartDrive</div>
    <div class="tag"><i>Now drive like your own Vehicle...</i></div>
  </div>
  <div id="car"></div>
  <div id="links-bg">
    <div class="toplinks"><a [routerLink]="['register']">Sign Up!</a></div>
    <div class="toplinks"><a [routerLink]="['login']">Sign In!</a></div>
    <div class="toplinks"><a [routerLink]="['feedback']">Feedback</a></div>
    <div class="toplinks"><a [routerLink]="['contact']">Contact us</a></div>
  </div>
  <div class="headingbg2"></div>
</div>
<div id="bottom">
  <p class ="adjust-footer">All @ copyrights are reserved by Knights Watch</p>
</div>
