<div id="top">
  <div class="bottomlink"><i class="fa fa-car design-car" aria-hidden="true"></i><i class="color-me">SMARTDRIVE</i></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a href="index.html">Home</a></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a href="#">About Us</a></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a href="https://blog.knoldus.com/2017/08/09/the-combat-in-knoldus/">Code Combat</a></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a href="#">Services</a></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a href="contactus.html">Contact</a></div>
</div>
<div id="border">
  <div id="left10">
    <div class="name">SmartDrive</div>
    <div class="tag"><i>Now drive like your own Vehicle...</i></div>
  </div>
  <div id="car"></div>
  <div id="links-bg">
    <div class="toplinks"><a [routerLink]="['register']">Sign Up!</a></div>
    <div class="toplinks"><a [routerLink]="['login']">Sign In!</a></div>
    <div class="toplinks"><a href="feedback.html">Feedback</a></div>
    <div class="toplinks"><a href="contactus.html">Contact us</a></div>
  </div>
  <div class="headingbg2"></div>
</div>
<div id="bottom">
  <p class ="adjust-footer">All @ copyrights are reserved by Knights Watch</p>
</div>
