<!--<div id="register-top">-->
  <!--<div class="bottomlink"><i class="fa fa-car design-car" aria-hidden="true"></i><i class="color-me">SMARTDRIVE</i></div>-->
  <!--<div class="sap">|</div>-->
  <!--<div class="bottomlink"><a href="index.html">Home</a></div>-->
  <!--<div class="sap">|</div>-->
  <!--<div class="bottomlink"><a href="#">About Us</a></div>-->
  <!--<div class="sap">|</div>-->
  <!--<div class="bottomlink"><a href="https://blog.knoldus.com/2017/08/09/the-combat-in-knoldus/">Code Combat</a></div>-->
  <!--<div class="sap">|</div>-->
  <!--<div class="bottomlink"><a href="#">Services</a></div>-->
  <!--<div class="sap">|</div>-->
  <!--<div class="bottomlink"><a href="contactus.html">Contact</a></div>-->
<!--</div>-->

<div class="center-container">
  <div class="main">
    <div class="w3layouts_main_grid">
      <form action="#" method="post" class="w3_form_post">
        <div class="w3_agileits_main_grid w3l_main_grid">
                            <span class="agileits_grid">
                                <label>First Name </label>
                                <input id="fname" type="text" name="Task" placeholder="First Name" required="">
                            </span>
        </div>
        <div class="w3_agileits_main_grid w3l_main_grid">
                            <span class="agileits_grid">
                                <label>Middle Name </label>
                                <input id="mname" type="text" name="Task" placeholder="Middle Name" required="">
                            </span>
        </div>
        <div class="w3_agileits_main_grid w3l_main_grid">
                            <span class="agileits_grid">
                                <label>Last Name </label>
                                <input id="lname" type="text" name="Task" placeholder="Last Name" required="">
                            </span>
        </div>
        <div class="w3_agileits_main_grid w3l_main_grid">
                            <span class="agileits_grid">
                                <label>Your Email </label>
                                <input id="email" type="text" name="Task" placeholder="Your Email" required="">
                            </span>
        </div>            <div class="w3_agileits_main_grid w3l_main_grid">
                            <span class="agileits_grid">
                                <label>Password</label>
                                <input id="pass1" type="password" name="Task" placeholder="Password" required="">
                            </span>
      </div>
        <div class="w3_agileits_main_grid w3l_main_grid">
                            <span class="agileits_grid">
                                <label>Confirm Password</label>
                                <input id="pass2" type="text" name="Task" placeholder="Confirm Password" required="">
                            </span>
        </div>
        <div class="w3_agileits_main_grid w3l_main_grid">
                            <span class="agileits_grid">
                                <label>Phone Number </label>
                                <input id="phoneNumber" type="text" name="Task" placeholder="Phone Number" required="">
                                </span>
        </div>
        <div class="w3_main_grid">
          <div class="w3_main_grid_right">
            <input type="submit" value="Submit">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
