<div id="top-register">
  <div class="bottomlink"><i class="fa fa-car design-car" aria-hidden="true"></i><i class="color-me">SMARTDRIVE</i></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a href="index.html">Home</a></div>
  <div class="sap">|</div>  <div class="sap">|</div>
  <div class="bottomlink"><a href="#">Contact</a></div>
  <div class="sap">|</div>
  <div class="bottomlink"><a href="#">Need an account ?</a></div>
</div><div id="login-box">
  <div class="left">
    <h1 class="set-heading">Add a Vehicle</h1>
    <input type="text" name="number_plate" placeholder="Number Plate"/>
    <input type="text" name="make" placeholder="Make"/>
    <input type="text" name="number_plate" placeholder="Number Plate"/>
    <input type="submit" name="add_car_submit" value="ADD"/>
  </div>
  <div class="right">
    <span class="loginwith"></span>
    <input type="text" name="type" placeholder="Type"/>
    <input type="text" name="rc_number" placeholder="RC Number"/>
    <input type="text" name="puc_number" placeholder="PUC Number"/>
  </div></div>
